body  
    {
        font-family: Verdana, sans-serif; 
        font-size:0.8em;

    }  
    
* {
    box-sizing: border-box;
}

header, nav, section, article, footer, aside
    {
        
        float: left;
    } 

section{
    width : 60%;
}

aside{
    width : 20%;
    border: none;
}
header 
    {
        background-color: black; 
        color: white; 
        text-align: center;
        width: 100%;         
    }
        

footer 
    {
        background-color: #ff00aa; 
        color: #00ffbb; 
        text-align: center;
        width : 100%;
    }
        
article 
    {
        background-color: #ffff00; 
        color: #0000aa;
    }
        
img {
    width: 50%;
    height: 50%; 
    float: left;      
      
}
nav 
    {
        width : 20%;
        background-color: #00ffff; 
        color: #ffff00;
        overflow: visible;

    }  
       
nav ul 
    {
        margin:0; 
        padding:0;
    }

nav ul li 
    {
        display:block;         
    }

p 
    {
        font-style: italic;
    }
     
    

      
    