body  
    {
        font-family: Verdana, sans-serif; 
        font-size:0.8em;

    }  
    
* {
    box-sizing: border-box;
}

header, nav, section, article, footer
    {
        
        float: left;
    } 

section{
    width : 75%;
}

header 
    {
        background-color: black; 
        color: white; 
        text-align: center;
        width: 100%;         
    }
        
img {
    float: left;
    width: 200px;
    height: 200px;
}

footer 
    {
        background-color: #ff00aa; 
        color: #00ffbb; 
        text-align: center;
        width : 100%;
    }
        
article 
    {
        background-color: #ffff00; 
        color: #0000aa;
    }
        

nav 
    {
        width : 25%;
        background-color: #00ffff; 
        color: #ffff00;
        overflow : hidden;       
        
    }  
       
nav ul 
    {
        margin:0; 
        padding:0;
    }

nav ul li 
    {
        display:block;         
    }

p 
    {
        font-style: italic;
    }
     
    

      
    