<HTML>
    <HEAD>
        <TITLE>Hello - Form processing</TITLE>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'pm.css') }}">
        <script type="text/javascript" src = "{{ url_for('static', filename = 'pm.js') }}" ></script>
    </HEAD>
    
    <BODY>
    <H1>Hello World </H1>
    <div class='as3'>
        <h3>External CSS Example</h3>
        This is simple example of use of external css style rules in python flask
    </div>
    
    <h1>some javascript below</h1>
    <div class='as2'>
        <p id='demo'>don't know date yet - click button to find out date </p> <br />
        <button type='button' onclick='getDate()'>Try it</button> <br />
    </div>
    
    <h1> some more javascript below </h1>
    <div class='as1'>
        <p id='demo1'>Click button to find out how many days left to Christmas </p> <br />
        <button type='button' onclick='daystoChristmas()'>Days left for Christmas</button> <br />
    </div>
    
    </BODY>
    </HTML>