 
body  
    {
        font-family: Verdana, sans-serif; 
        font-size:0.8em;
    }  
    

header, nav, section, article, footer
    {
        border:1px solid grey; 
        margin:5px; 
        padding:8px;
    } 
        
header 
    {
        background-color: black; 
        color: white; 
        text-align: center;
    }
        
footer 
    {
        background-color: #ff00aa; 
        color: #00ffbb; 
        text-align: center;
    }
        
article 
    {
        background-color: #ffff00; 
        color: #0000aa;
    }
        

nav 
    {
        background-color: #00ffff; 
        color: #ffff00;
    }  
       
nav ul 
    {
        margin:0; 
        padding:0;
    }

nav ul li 
    {
        display:inline; 
        margin:5px;
    }

p 
    {
        font-style: italic;
    }
     
    

      
    