body {
    font-family: Verdana, sans-serif; 
	font-size:0.8em;    
    border : 1px solid red;    
}   

.header{       
    padding-top: 0%:
    padding-left: 1%;
    padding-bottom: 4%;  
}

h1{
    text-align: center;

}

.header img{
    width:10%;
    height:10%;
    vertical-align: top;
    float:right;    
}

.nav, .footer{
    background-color: #0eff0e;    
}    

.section, .article{
    background-color: #ffffff;
    padding:5px;    
}

.nav ul{
    border : 3px solid green;
    padding:5px;
}

.nav ul li {
    display:inline; 
    margin:5px;
    padding:5px;    
}

p {
    color : green;
    text-align: left;              
    padding:5px;
}

#left-align{
    text-align: left;
    color : tomato;
    padding:5px;
}

