<!DOCTYPE html>
<html>
<head>
    <script>
        function outgoingDateFunction() {
            document.getElementById("submitbutton").disabled = true;
            document.getElementById("returndate").disabled = true;
            var today = new Date().setHours(0,0,0,0);
            var outgoingdate = Date.parse(document.getElementById("outgoingdate").value); 
            var outgoingdate = new Date(outgoingdate).setHours(0,0,0,0);   

            var returndate = Date.parse(document.getElementById("returndate").value); 
            var returndate = new Date(returndate).setHours(0,0,0,0);             
            
            if (outgoingdate < today) {                            
                alert('Outgoing date should not be in Past')
                document.getElementById("outgoingdate").value = new Date().setHours(0,0,0,0);
                document.getElementById("outgoingdate").style.border='1px solid red';
                document.getElementById("outgoingdate").style.focus();
                return false;
            }
            else if (outgoingdate > returndate){
                alert('Return date should be after Outgoing date')
                document.getElementById("outgoingdate").value = new Date().setHours(0,0,0,0);
                document.getElementById("outgoingdate").style.border='1px solid red';
                document.getElementById("outgoingdate").style.focus();                
                return false;
            }
            else {       
                document.getElementById("outgoingdate").style.border='1px solid';
                document.getElementById("returndate").disabled = false;
                return true;
            }
        }
        function returnDateFunction() {                        
            document.getElementById("submitbutton").disabled = true;
            var outgoingdate = Date.parse(document.getElementById("outgoingdate").value); 
            var outgoingdate = new Date(outgoingdate).setHours(0,0,0,0);    
            var returndate = Date.parse(document.getElementById("returndate").value); 
            var returndate = new Date(returndate).setHours(0,0,0,0);             
            if (outgoingdate > returndate) {                            
                alert('Return date should be after Outgoing date')
                document.getElementById("returndate").value = new Date().setHours(0,0,0,0);
                document.getElementById("returndate").style.border='1px solid red';
                document.getElementById("returndate").style.focus();                
                return false;
            }
            else {
                document.getElementById("returndate").style.border='1px solid';
                document.getElementById("submitbutton").disabled = false;
                return true;
            }
        }           

    </script>    
</head>
<body>    
    <h1>Input Validation using Javascript</h1>
    <p>Please enter a date:</p>
    <form action="/dumpVar" method="post" onsubmit="return returnDateFunction()">
        Select outgoing date:
        <input id="outgoingdate" name="outgoingdatename" type="date" onchange="return outgoingDateFunction()" required/> <br/>   
        Select return date:
        <input id="returndate" name="returndatename" type="date" onchange="return returnDateFunction()" required disabled/> <br/>
        <input type="submit" id="submitbutton" value="Go to server" disabled/>
    </form>   
</body>
</html>