<!DOCTYPE html>
<html>
    <head>
        <script>
            function formValidation(){
                    var name = document.getElementById("uid").value;       
                    var check = 0; 
                    //Write your own patterns here - this is just an example for checking names
                    var pattern = /^[A-Za-z- ]+$/;
                    //Apply pattern to name string - result will be false or true          
                    var result = pattern.test(name);          
                    if (!result)
                    {
                        alert("Please enter name again");
                        document.MyForm.uid.focus();
                        document.getElementById("uid").style.border='1px solid red';
                        return false;                 
                    }            
                    else 
                    {
	                    return true;
                    }
            }
        </script>
    </head>
    <body>
        <Form action="/dumpVar" method="POST" name="MyForm" onsubmit="return formValidation()">
            <p>Enter login:</p>
            <input type=text name="uid" id="uid" maxlength=30 size=10>
            <p>Enter Password:</p>
            <input type=password name="pw" id="pw" maxlength=8 size=8 value="secret">           
            <p>Enter Email (validated):</p>
            <input type="email" name="useremail" id="useremail">   
            <p>Submit button:</p>
            <input type=submit value="Enter Record">
        </Form> 
    </body>
</html>
